@page "/"

<Row>
    <Column Base="12">
        <h1 class="align-content-center">Legende</h1>
    </Column>
</Row>
<Row Class="row-eq-spacing">
    <Column Base="3"><a href="/search" class="btn btn-block btn-primary">Suche</a></Column>
    <Column Base="4"><a href="/articlelist" class="btn btn-block btn-primary">Stammdaten</a></Column>
</Row>
@code {
    
}